.features--container {
    margin: 3rem 1rem;
    background-color: rgba(255,255,255,.64);
    backdrop-filter: blur(40px);
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.1);
}

@media screen and (min-width: 1280px) {
    .features--container {
        margin: 5rem 8vw;
    }
}