header {
    padding: 1.25rem 1rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 0 .0625rem rgba(0,0,0,.1);
    position: sticky;
    top: 0;
    background-color: rgba(255,255,255,.85);
    backdrop-filter: blur(10px);

    button {
        background: none;
        border: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: .4375rem;

        .menu--toggle--span {
            display: inline-block;
            background: #000;
            width: 1.25rem;
            height: 0.125rem;
            border-radius: 9999px;
            transition: .2s;

            &.open {
                transition: .2s;

                &:nth-child(1) {
                    transform: rotate(45deg) translateY(2px) translateX(1.25px);
                }
                
                &:nth-child(2) {
                    transform: rotate(-45deg) translateY(-5.25px) translateX(4px);
                }
            }
        }
    }

    .logo {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 1rem;
        top: 1rem;
        margin: auto;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;

        .sign-in--link {
            font-family: marfa-medium;
            color: #000;
            text-decoration: none;
        }

        .header--nav--ul {
            display: none;

            &.show {
                list-style-type: none;
                padding: 0 1rem 1.25rem 1rem;
                background: #fff;
                position: absolute;
                top: 3.78075rem;
                left: 0;
                right: 0;
                display: flex;
                flex-direction: column;
                border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.1);
            }

            .dropdown {
                display: none;

                &.show {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
}