.hero--section {
    // 2.25 sides
    padding: 4.25rem 3.25rem 0 3.25rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    color: #212123;

    .hero--heading {
        font-size: 2.25rem;
        font-family: marfa-black;
        font-weight: 900;
        line-height: 2.5rem;
        letter-spacing: -.5px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        column-gap: .5rem;

        span {
            display: inline-block;
            animation-name: slide;
            animation-duration: 1s;

            &.span2 {
                // animation-delay: .2s;
                animation-duration: 1.2s;
            }

            &.span3 {
                // animation-delay: .4s;
                animation-duration: 1.4s;
                
            } 

            &.span4 {
                // animation-delay: .6s;
                animation-duration: 1.6s;
            }

            &.span5 {
                // animation-delay: .8s;
                animation-duration: 1.8s;
                
            }

            &.span6 {
                // animation-delay: 1s;
                animation-duration: 2s;
                
            }

            &.span7 {
                // animation-delay: 1.2s;
                animation-duration: 2.2s;
            }

            &.span8 {
                // animation-delay: 1.4s;
                animation-duration: 2.4s;
                
            }

            
        }
    }
    
    p {
        font-size: 1.25rem;
        font-family: marfa-light;
        line-height: 1.75rem;
        animation-name: slide;
        animation-duration: 1.5s;
    }

    @keyframes slide {
        0% {
            opacity: 0;
            transform: translateY(3rem);
        }

        25% {
            opacity: 0;
            transform: translateY(3rem);
        }

        50% {
            opacity: 0;
            transform: translateY(3rem);
        }

        75% {
            opacity: 0;
            transform: translateY(3rem);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

@media screen and (min-width: 768px) {
    .hero--section {
        padding: 7rem 5rem 0 5rem;

        .hero--heading {
            font-size: 3.5rem;
            line-height: 3.5rem;
            letter-spacing: -1px;
        }
    }
}

@media screen and (min-width: 1024px) {
    .hero--section {
        margin: auto;
        max-width: 1000px;

        .hero--heading {
            font-size: 4.75rem;
            line-height: 4.75rem;
            letter-spacing: -1.5px;
        }

        p {
            font-size: 1.5rem;
            line-height: 2rem;
        }
    }
}